<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <root>
      <level value="INFO" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value=".\\Logs\\%date{yyyyMM}\\log.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <maximumFileSize value="30MB" />
      <staticLogFileName value="true" />
      <preserveLogFileNameExtension value="true" />
      <datePattern value="ddMMyyyy" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>
  <appSettings>
    <add key="server_ip" value="127.0.0.1" />
    <add key="server_port" value="20017" />
    <add key="db_data_source" value="VALUED-OV46V0EI\SQLEXPRESS" />
    <add key="db_init_catalog" value="OPSDB1" />
    <!--<add key="db_data_source" value="optionbanque.cdtagyjn1ipc.us-west-2.rds.amazonaws.com" />
    <add key="db_init_catalog" value="OPSDB" />
    <add key="db_UserName" value="Administrator" />
    <add key="db_Password" value="*yPj;VVkA81" />-->
    <!--<add key="dataserver_IP" value="127.0.0.1" />
    <add key="dataserver_port" value="4504" />
    <add key="dataserver_username" value="user" />
    <add key="dataserver_password" value="user" />-->
    <add key="dataserver_IP" value="54.70.16.159" />
    <add key="dataserver_port" value="2012" />
    <add key="dataserver_username" value="shashi1" />
    <add key="dataserver_password" value="shashi1" />
    <add key="SettlementPriceDuration" value="5" />
    <add key="MinNumberOfFeed" value="5" />
    <add key="PriceDifferenece" value="0.01" />
    <add key="StopExpiryLimitinMinutes" value="1" />
    <add key="FeedName" value="DDFClient" />
    <!--<add key="FeedName" value="Simulation DataFeed" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>